.sectiontitle {
	font-size: 1rem;
	font-weight: bold;
	padding-bottom: 0.3rem;
}

.section, #introbox {
	border-left: 5px solid;
	border-color: #dee2e6;
}

.section:nth-of-type(2) {
	border-color: #5a8afa;
}

.section:nth-of-type(3) {
	border-color: #a98eda;
}

.section:nth-of-type(4) {
	border-color: #0dcaf0;
}

.section {
	margin-top: 2rem;
}

.position .name::after {
	content: ': ';
}

.position .periods::before {
	content: ' (';
}

.position .periods::after {
	content: ')';
}
